# NOTE(logan): To reach the 10.0.0.0/8 hosts in the deployment, a ProxyJump
# is used from the nodepool deployment host through the first infrastructure
# host, lsn-mc1016.

Host 10.*
    ProxyJump root@192.169.91.98
